.App {
   text-align: center; 
  /* width: 100%; */
  /* max-width: 330px; */
  padding: 15px;
/* margin: auto; */
/* height: 100%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.Err{
  display:block;
  margin: -9px;
  color: red;

}

.Footer{
  position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: gray;
}
.block{
display: inline-block;
  padding: 10px;
color: white;

}

.nav-ul li a {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin: 0px;
  background-color: gray;
}


.register-form {
  margin-left: 20%;
}


.FieldBox {

 
  padding: 7px;
  margin: 10px;
  width: 300px;
  border: 1px solid skyblue;
}

.appbtn {
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: gray;
  border: 1px solid;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
